<h1 mat-dialog-title>Import Excel Data</h1>

<div mat-dialog-content>
  <p>Select an Excel file to import stock data.</p>
  <input type="file" #fileInput style="display: none" (change)="onFileChange($event)" accept=".xlsx, .xls">
  <button mat-stroked-button color="primary" (click)="fileInput.click()">
    <mat-icon>attach_file</mat-icon>
    Select File
  </button>
  <p *ngIf="selectedFile">Selected file: {{ selectedFile.name }}</p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!selectedFile">Import</button>
</div>
