<h1 mat-dialog-title>{{ data.eventOffer ? 'Edit' : 'Create' }} Event/Offer</h1>

<div mat-dialog-content>
  <form [formGroup]="eventOfferForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="event">Event</mat-option>
        <mat-option value="offer">Offer</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assign Products</mat-label>
      <mat-select formControlName="productIds" multiple>
        <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assign Categories</mat-label>
      <mat-select formControlName="categoryIds" multiple>
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="eventOfferForm.invalid">Save</button>
</div>
