<div class="container my-5">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary me-2" (click)="openSaleDialog()">Quick Sale</button>
    <button class="btn btn-secondary me-2" (click)="openPurchaseDialog()">Quick Purchase</button>
    <button class="btn btn-danger" (click)="openDayManagement()">Day Management</button>
  </div>
  <h1 class="text-center mb-4">Dashboard</h1>

  <!-- Stock and Sale Values -->
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          Total Stock Value
        </div>
        <div class="card-body text-center">
          <h5>{{ totalStockValue | currency:'INR' }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-header bg-warning text-dark">
          Projected Sale Value
        </div>
        <div class="card-body text-center">
          <h5>{{ projectedSaleValue | currency:'INR' }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-header bg-success text-white">
          Projected Profit
        </div>
        <div class="card-body text-center">
          <h5>{{ projectedProfitValue | currency:'INR' }}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Today's Summaries -->
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header bg-info text-white">
          Today's Sale Summary
        </div>
        <div class="card-body">
          <div class="row text-center">
            <div class="col-md-4">
              <h5>Total Sales</h5>
              <p>{{ todaysSaleSummary.total_count }}</p>
            </div>
            <div class="col-md-4">
              <h5>Total Revenue</h5>
              <p>{{ todaysSaleSummary.total_revenue | currency:'INR' }}</p>
            </div>
            <div class="col-md-4">
              <h5>Total Items Sold</h5>
              <p>{{ todaysSaleSummary.total_items_sold }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header bg-success text-white">
          Today's Purchase Summary
        </div>
        <div class="card-body">
          <div class="row text-center">
            <div class="col-md-4">
              <h5>Total Purchases</h5>
              <p>{{ todaysPurchaseSummary.total_count }}</p>
            </div>
            <div class="col-md-4">
              <h5>Total Cost</h5>
              <p>{{ todaysPurchaseSummary.total_cost | currency:'INR' }}</p>
            </div>
            <div class="col-md-4">
              <h5>Total Items Purchased</h5>
              <p>{{ todaysPurchaseSummary.total_items_purchased }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
      <div class="col-md-12">
          <section>
              <div class="card h-100">
                  <div class="card-header bg-info text-white">
                      Total Sales Details
                  </div>
                  <div class="card-body">
                      <div class="row text-center">
                          <div class="col-md-4">
                              <h5>Total Sales Count</h5>
                              <p>{{ dashboardData.total_sales.total_count }}</p>
                          </div>
                          <div class="col-md-4">
                              <h5>Total Revenue</h5>
                              <p>{{ dashboardData.total_sales.total_revenue | currency }}</p>
                          </div>
                          <div class="col-md-4">
                              <h5>Total Items Sold</h5>
                              <p>{{ dashboardData.total_sales.total_items_sold }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <section>
        <div class="card h-100">
          <div class="card-header bg-secondary text-white">
            Total Products
          </div>
          <div class="card-body text-center">
            <h5>{{ dashboardData.total_products }}</h5>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <section>
        <div class="card h-100">
          <div class="card-header bg-secondary text-white">
            Total Categories
          </div>
          <div class="card-body text-center">
            <h5>{{ dashboardData.total_categories }}</h5>
          </div>
        </div>
      </section>
    </div>
  </div>

    <!-- Recent Sales -->
    <div class="row">
      <div class="col-md-12 mb-4">
        <section>
          <div class="card h-100">
            <div class="card-header bg-primary text-white">
              Recent Sales
            </div>
            <div class="card-body p-0">
              <table class="table table-striped m-0">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Date</th>
                    <th>Total QTY</th>
                    <th>Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sale of dashboardData?.recent_sales">
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.customer.name }}</td>
                    <td>{{ sale.customer.address }}</td>
                    <td>{{ sale.customer.mobile }}</td>
                    <td>{{ sale.date | date:'shortDate' }}</td>
                    <td>{{ sale.total_quantity }}</td>
                    <td>{{ sale.total_price | currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Most Sold Items -->
    <div class="row">
      <div class="col-md-12 mb-4">
        <section>
          <div class="card h-100">
            <div class="card-header bg-warning text-dark">
              Most Sold Items
            </div>
            <div class="card-body p-0">
              <table class="table table-striped m-0">
                <thead class="thead-light">
                  <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Sales Count</th>
                    <th>Total Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dashboardData?.most_sold_items | keyvalue">
                    <td>{{ item.value.product_name }}</td>
                    <td>{{ item.value.product_category }}</td>
                    <td>{{ item.value.total_quantity }}</td>
                    <td>{{ item.value.total_revenue | currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>

  <!-- Total Purchases -->
  <div class="row mb-4">
    <div class="col-md-12">
        <section>
            <div class="card h-100">
                <div class="card-header bg-success text-white">
                    Total Purchases Details
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <h5>Total Purchases Count</h5>
                            <p>{{ dashboardData.total_purchases.total_count }}</p>
                        </div>
                        <div class="col-md-4">
                            <h5>Total Cost</h5>
                            <p>{{ dashboardData.total_purchases.total_cost | currency }}</p>
                        </div>
                        <div class="col-md-4">
                            <h5>Total Items Purchased</h5>
                            <p>{{ dashboardData.total_purchases.total_items_purchased }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </div>

  <!-- Recent Purchases -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <section>
        <div class="card h-100">
          <div class="card-header bg-dark text-white">
            Recent Purchases
          </div>
          <div class="card-body p-0">
            <table class="table table-striped m-0">
              <thead class="thead-light">
                <tr>
                  <th>ID</th>
                  <th>Vendor</th>
                  <th>Address</th>
                  <th>Mobile</th>
                  <th>Date</th>
                  <th>Total QTY</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let purchase of dashboardData?.recent_purchases">
                  <td>{{ purchase.id }}</td>
                  <td>{{ purchase.vendor.name }}</td>
                  <td>{{ purchase.vendor.address }}</td>
                  <td>{{ purchase.vendor.mobile }}</td>
                  <td>{{ purchase.date | date:'shortDate' }}</td>
                  <td>{{ purchase.total_quantity }}</td>
                  <td>{{ purchase.total_price | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>