<div class="modal-header">
  <h4 class="modal-title">Update Product Quantity</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="sizeType" class="form-label">Size Type</label>
    <select id="sizeType" class="form-select" [(ngModel)]="quantities.sizeType" (change)="onSizeTypeChange($event)">
      <option value="Normal">Normal</option>
      <option value="Boot">Boot</option>
      <option value="Football">Football</option>
    </select>
  </div>

  <div *ngIf="quantities.sizeType === 'Normal'" class="row g-3">
    <div *ngFor="let size of quantities.sizes" class="col-md-4">
      <label [for]="'size' + size" class="form-label">{{ size }} Quantity</label>
      <input [id]="'size' + size" type="number" class="form-control" [(ngModel)]="quantities[size]" placeholder="Enter quantity">
    </div>
  </div>

  <div *ngIf="quantities.sizeType === 'Boot'" class="row g-3">
    <div *ngFor="let size of quantities.bootSizes" class="col-md-4">
      <label [for]="'size' + size" class="form-label">{{ size }} Quantity</label>
      <input [id]="'size' + size" type="number" class="form-control" [(ngModel)]="quantities[size]" placeholder="Enter quantity">
    </div>
  </div>

  <div *ngIf="quantities.sizeType === 'Football'" class="row g-3">
    <div *ngFor="let size of quantities.footballSizes" class="col-md-4">
      <label [for]="'size' + size" class="form-label">{{ size }} Quantity</label>
      <input [id]="'size' + size" type="number" class="form-control" [(ngModel)]="quantities[size]" placeholder="Enter quantity">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
</div>
