.image-upload-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.file-name {
  font-style: italic;
}

.image-preview-container {
  margin-top: 16px;
  text-align: center;
}

.image-preview {
  max-width: 100%;
  max-height: 300px;
  border-radius: 4px;
}
