<h1 mat-dialog-title>Update Product Image</h1>
<div mat-dialog-content fxLayout="column" fxLayoutGap="16px">
  <form [formGroup]="imageForm" fxLayout="column" fxLayoutGap="16px">
    <div class="file-input-container">
      <button mat-stroked-button color="primary" (click)="fileInput.click()">
        Choose File
      </button>
      <input hidden type="file" #fileInput (change)="onImageChange($event)" accept="image/*">
      <span class="file-name" *ngIf="selectedImage">{{ selectedImage.name }}</span>
    </div>

    <div *ngIf="selectedImage">
      <p><strong>Selected Image Preview:</strong></p>
      <img [src]="imagePreview" alt="Image Preview" style="max-width: 100%; max-height: 200px;">
    </div>
  </form>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="!selectedImage">Save</button>
</div>
