<h1 mat-dialog-title>Create Attribute</h1>
<div mat-dialog-content>
  <form [formGroup]="attributeForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="attributeForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="attributeForm.get('category')?.hasError('required')">Category is required</mat-error>
    </mat-form-field>
    <div formArrayName="values">
      <div *ngFor="let value of values.controls; let i = index" [formGroupName]="i">
        <mat-form-field>
          <mat-label>Value {{i + 1}}</mat-label>
          <input matInput formControlName="value">
          <mat-error *ngIf="value.hasError('required')">Value is required</mat-error>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeValue(i)" *ngIf="values.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-button (click)="addValue()">Add Value</button>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Save</button>
</div>
