form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
}

[mat-dialog-actions] {
  justify-content: flex-end;
}

.value-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.value-row mat-form-field {
  flex-grow: 1;
}
  