<h1 mat-dialog-title>{{ data.attribute ? 'Edit' : 'Create' }} Attribute</h1>

<div mat-dialog-content>
  <form [formGroup]="attributeForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="attributeForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="attributeForm.get('categoryId')?.hasError('required')">Category is required</mat-error>
    </mat-form-field>

    <div formArrayName="values">
      <h3>Values</h3>
      <div *ngFor="let value of values.controls; let i = index" [formGroupName]="i" class="value-row">
        <mat-form-field>
          <mat-label>Value {{i + 1}}</mat-label>
          <input matInput formControlName="value">
          <mat-error *ngIf="value.get('value')?.hasError('required')">Value is required</mat-error>
        </mat-form-field>
        <button type="button" mat-icon-button color="warn" (click)="removeValue(i)" *ngIf="values.length > 1">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
      <button type="button" mat-stroked-button color="primary" (click)="addValue()">Add Value</button>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="attributeForm.invalid">Save</button>
</div>
