
<nav>
    <a routerLink="/" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a> 
    <a routerLink="/sale" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Sale</a>
    
    <a routerLink="/purchase" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Purchase</a>

    <a routerLink="/stock" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Stock</a>

    <a routerLink="/products" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Products</a>
    <a routerLink="/categories" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Categories</a>
    
    <a routerLink="/attributes" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Attributes</a>
    
    <a routerLink="/shops" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Shops</a>
    
    <a routerLink="/pricelists" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Price Lists</a>

    <a routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">About</a> 
    <a routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact</a>
  </nav>
