<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Shops</h1>
    <button class="btn btn-primary" (click)="createShop()">Create Shop</button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Mobile Number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of shops | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{element.id}}</td>
          <td>{{element.name}}</td>
          <td>{{element.addressLine1}}</td>
          <td>{{element.mobileNumber}}</td>
          <td>{{element.email}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
